:root {
  --cl-color-primary: #666EFF;
  --cl-color-green: #1FDA8A;
  --cl-color-red: #FF656B;
  --cl-color-white: #FFF;
  --cl-cart-zIndex: 100;
}

cl-price-amount {
  color: #101111;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.5em;

  &[type="compare-at"] {
    color: #878888;
    font-size: .875em;
    font-weight: 300;
    line-height: 1.25em;
    text-decoration: line-through;

    &::part(strikethrough) {
      text-decoration: none;
    }
  }
}

cl-add-to-cart {
  display: inline-block;
  background-image: none;
  border: none;
  font-weight: 600;
  color: var(--cl-color-white);
  padding: 1em 1.5em 1em 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-radius: 0.375rem;

  background-color: #dbdcdc;
  cursor: default;

  &.hydrated:not([aria-disabled="true"]) {
    background-color: var(--cl-color-primary);
    cursor: pointer;
  }
}

cl-cart-link, .cl-cart-link {
  position: relative;
  display: inline-block;

  cl-cart-count[quantity] {
    font-size: .5rem;
    border-radius: 50%;
    background-color: var(--cl-color-primary);
    width: 1rem;
    height: 1rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cl-color-white);
    bottom: 0%;
    right: 0%;
    transform: translate(120%, 0%);
  }

  svg ~ cl-cart-count[quantity] {
    bottom: 0%;
    right: 0%;
    transform: translate(30%, 0%);
  }
}

cl-cart[type="mini"] {
    $open-width: 400px;

    position: fixed;
    z-index: var(--cl-cart-zIndex);
    top: 0;
    width: $open-width;
    height: 100%;
    padding: 20px;
    box-shadow: -1px 0px 10px #0003;
    pointer-events: none;
    overflow: auto;

    &::before, &::after {
      position: fixed;
      content: " ";
      background: transparent;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      z-index: -1;
      transition: .3s background;
    }

    &::after {
      position: fixed;
      width: $open-width;
      background: #fff;
    }

    &, &::after {
      right: -100%;
      transition: .3s right;
    }

    &[open] {
      right: 0;
      pointer-events: initial;

      &::before {
        background: rgba($color: #000, $alpha: .3);
      }

      &::after {
        right: 0;
      }
    }
  }

// cl-availability {
//   cl-availability-status {
//     &[type="available"] {
//       color: var(--cl-color-green);
//     }

//     &[type="unavailable"] {
//       color: var(--cl-color-red);
//     }
//   }
// }
